---
import { Image } from "astro:assets";
import Telegram from "/public/icons/telegram.svg";
import Whatsapp from "/public/icons/whatsapp.svg";
import Facebook from "/public/icons/facebook.svg";
import V1_logo_white from "/public/icons/logo-white.svg";
import { footerLinks } from "@/data/footerinfo";
---

<footer class="bg-brand-900 text-white py-11">
  <div class="container mx-auto flex flex-col gap-14 px-4 md:px-8">
    <div
      class="grid grid-cols-1 gap-4 sm:px-6 lg:grid-cols-2 lg:px-0 md:grid-cols-2"
    >
      <div class="flex flex-col gap-4 md:w-3/5">
        <Image src={V1_logo_white} alt="Logo" class="w-32" />
        <p class="text-base-medium text-gray-300 md:text-balance">
          Explora los mejores paquetes de viaje y experiencias adaptadas a tus
          preferencias. Permítenos ayudarte a planear las vacaciones de tus
          sueños.
        </p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-9">
        {
          footerLinks.map((section) => (
            <div class="min-w-52 px-3">
              <h3 class="text-sm-normal-footer">{section.title}</h3>
              <ul class="space-y-2">
                {section.links.map(({ text, href, icon }) => (
                  <li>
                    <a
                      href={href}
                      class={`text-sm-medium flex items-center ${icon ? "hover:cursor-pointer" : ""}`}
                    >
                      {icon && (
                        <img
                          src="icons/facebook.svg"
                          alt={text}
                          class="w-5 h-5 mr-2"
                        />
                      )}
                      <span class="text-textColor-gray">{text}</span>
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>

    <div class="border-t border-teal-800"></div>
    <p class="text-center text-sm h-5">
      Copyright © 2025 Crinigo. Todos los derechos reservados.
    </p>
  </div>
</footer>
